@charset "UTF-8";

:root { /* Variáveis de cores */
  --fundo-principal: #f5f5f5;
  --texto:#222222;
  --texto-inverso:#ffffff;
  --destaque:#0077ff;
  --destaque-inverso:#66bbff;
  --fundo-card:#ffffff;
}

* { /* Reset básico */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove espaçamentos padrão */
  box-sizing: border-box; /* Inclui bordas e padding na largura e altura dos elementos */
  text-decoration: none; /* Remove sublinhado de links */
}

body {
  line-height: 1.5em; /* Espaçamento entre linhas */
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  color: var(--texto); 
  background-color: var(--fundo-principal);
}

header {
  display: flex; /* Usa flexbox para layout */
  justify-content: flex-end; /* Alinha itens à direita */
  align-content: center; /* Centraliza itens verticalmente */

  background-color: var(--destaque); 
  color: var(--texto); 
  padding: 20px;
}

nav#menu ul {
  list-style: none; /* Remove os marcadores da lista */
  display: flex;
  gap: 10px; /* Espaçamento entre os itens do menu */

}

nav#menu a { 
  color: var(--texto-inverso);
  font-weight: bold;
  padding: 12px 15px;
  border-radius: 50%; /* Deixa os links arredondados */
  transition: background-color .3s, color .3s; /* Transição suave para o efeito hover */
}

nav#menu a:hover { /* Efeito ao passar o mouse nos links do menu */
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid; /* Usa grid para layout */
  grid-template-columns: 1fr 90vw 1fr;
  gap: 20px;
  margin-top: 20px;
}



section#ficha {
  grid-column: 2; /* Centraliza a seção na segunda coluna do grid */
  padding: 20px;
  border-radius: 10px;
}

section#ficha img {
  display: block; /* Remove espaço embaixo da imagem */
  margin: auto; /* Centraliza a imagem horizontalmente */
  margin-bottom: 15px;

  border-radius: 50%; 
  width: 200px;
  aspect-ratio: 1 / 1; /* Mantém a proporção da imagem */
  object-fit: cover; /* Corta a imagem para preencher o espaço */
  overflow: hidden; /* Esconde qualquer parte que ultrapasse o contêiner */
  border: 5px solid var(--fundo-card);  /* Borda ao redor da imagem */
  outline: 5px solid var(--destaque); /* Contorno ao redor da imagem */
  box-shadow: #26394d7a 0px 8px 30px -10px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.5em;
  text-align: center;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;

}
div#social a {
  color: var(--destaque);
  transition: color .3s; /* Transição suave para o efeito hover */
}
div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
article h2 {
  color: var(--destaque);
  margin-bottom: 30px;
}
article#video .youtube { /* Contêiner do vídeo */
  position: relative; /* Necessário para o posicionamento absoluto do iframe */
  width: 100%; /* Largura total do contêiner */
  margin: auto; /* Centraliza o contêiner */
  aspect-ratio: 16 / 9; /* Mantém a proporção do vídeo */
}
article#video .youtube iframe { /* Estiliza o iframe do vídeo */
  position: absolute; /* Posiciona o iframe dentro do contêiner */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#sconteiner-skills {
  display: grid; /* Usa grid para layout */
  grid-template-columns: 1fr;
  gap: 30px;
}
#conteiner-skills .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#conteiner-skills .nome {
  font-weight: bold;
  color: var(--texto);
}
#conteiner-skills .porcentagem {
  font-weight: bold;
  color: var(--destaque);
}
#conteiner-skills .barra  {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background-color: var(--fundo-principal);
}
#conteiner-skills .progresso {
  height: 100%;
  border-radius: 4px;
  background-color: var(--destaque);
}

#conteiner-formacao {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}
#conteiner-formacao .curso {
  background-color: var(--fundo-principal);
  border-radius: 10px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width .3s, border-color .4s; /* Transição suave para o efeito hover */
}

#conteiner-formacao .curso:hover {
  border-left-width: 25px;
  border-color: var(--destaque);
  cursor: pointer;
  
}

#conteiner-formacao .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}
#conteiner-formacao .instituicao {
  font-size: 1.3em;
  color: var(--destaque-inverso);
  transition: color .3s;
}
#conteiner-formacao .instituicao:hover {
  color: var(--destaque);
}










@media screen and (min-width: 768px) {
  #conteiner-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
